@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

html, body  {
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 60px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  font-size: 18px;
  font-family: $sans-serif;
  padding: 1em 1.25em;
  border: 2px solid;
  border-radius: 0;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
#results {
  margin: 60px auto;
  padding: 20px;
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid black;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
      position: relative;
      margin: 0.5em;
      .artist {
        font-size: 32px;
        text-transform: uppercase;
      }
      .followers {
        font-size: 0.8em;
        background: orange;
      }
      &:before {
        content: " • ";
      }
      &:first-child:before {
        content: none;
      }
      &:nth-child(n+1):nth-child(-n+5) {
        .artist { font-size: 52px; }
      }
      &:nth-child(n+6):nth-child(-n+10) {
        .artist { font-size: 48px; }
      }
      &:nth-child(n+11):nth-child(-n+20) {
        .artist { font-size: 44px; }
      }
      &:nth-child(n+21):nth-child(-n+25) {
        .artist { font-size: 40px; }
      }
      &:nth-child(n+26):nth-child(-n+30) {
        .artist { font-size: 36px; }
      }
      &:nth-child(n+31):nth-child(-n+40) {
        .artist { font-size: 32px; }
        // .followers { margin-left: -1em; }
      }
      &:nth-child(n+41):nth-child(-n+45) {
        .artist { font-size: 28px; }
        // .followers { margin-left: -1em; }
      }
      &:nth-child(n+46):nth-child(-n+50) {
        .artist { font-size: 20px; }
        // .followers { margin-left: -1em; }
      }
    }
  }
}
